<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <connectionStrings>
    
  </connectionStrings>
  <appSettings>
    <add key="ResourcesUrl" value=""/>
    <add key="TempUploadFolder" value=""/>
    <add key="ResourcesFolder" value=""/>
    <add key="TagUrl" value="http://127.0.0.1:8851/tag"/>
    <add key="Transforms" value="640x360x400;854x480x600;1280x720x1000;1920x1080x1000"/>
    <add key="FFMpegPath" value=""/>
    <add key="AWSAccessKey" value="" />
    <add key="AWSSecretKey" value="" />
    <add key="AWSBucketName" value="" />
    <add key="SkipRollPreviewUrl" value="http://skipad.test.skipad.com/FW/UnitTestSkipRoll_640x360.html"/>
    <add key="SkipRollMraidPreviewUrl" value="http://skipad.resources.dev.s3.amazonaws.com/mobile/template/index.html"/>
    <add key="SkipRollPreviewUrl" value="http://skipad.test.skipad.com/FW/SkipRollTagDemo.html"/>
  </appSettings>
  <!-- NLog -->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
      <target name="eventViewr" xsi:type="EventLog" layout="${longdate} - ${level}${newline}${newline}${message}${newline}${newline}Caller:${newline}${callsite}${newline}${newline}StackTrace:${newline}${stacktrace}${newline}${newline}Exception:${newline}${exception:format=Message,Type,Method,StackTrace:separator=,}" source="Site" log="Skipad"/>
    </targets>
    <rules>
      <!--logger name="*" minlevel="Error" writeTo="emailGmx"/-->
      <logger name="*" minlevel="Trace" writeTo="eventViewr"/>
    </rules>
  </nlog>
  <system.web>
    <httpRuntime maxRequestLength="327680"/>
    <authorization>
      <allow roles="Admin"/>
      <deny users="?"/>
    </authorization>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider"/>
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear/>
        <add connectionStringName="ApplicationServices" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider"/>
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider"/>
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="99999999"></requestLimits>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="">
        <network host="" password="" port="" userName=""/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>